done project garepaxi sabali client lai email and notice janxa.
company employee lai pani email and notice.
--------------------
module haru delete garni temp,
setting ma completed project hunxa.
---------
sab data lai hist table pathauna paryo.
--------------------------------------
suru ma company registration garni manxe nai admin hunxa company ma.
Only company admin can add other members.
he can make any other company member to be a company admin.
------------------



Avid editing software
